hr {
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(220, 220, 220);
}
.home{
    height: 100vh;
    width: 100%;
    display: flex; 
    align-items: center; 
    justify-content: center;  
    top: 0;
    left: 0; 
    object-fit: cover;
} 
.home img {
    height: 100%; 
    width: 50%;
} 

.home div:nth-child(1){
    height: 100%;
    width: 50%; 
    display: flex;
    flex-direction: column; 
    align-items: start;
    justify-content: center;
    padding: 0px 20px;
    color: white;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: lightsteelblue; 
} 
.home div p:nth-child(1){
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    color: rgb(95, 145, 210); 
    margin: 10px 0px;
}
.home div p:nth-child(3){
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: rgb(216, 216, 216); 
}
.home div h2{
    font-size: 60px;
    margin: 0%;
    text-align: left;
}