.home{
    height: 100%;
    width: 100%;
    display: flex; 
    align-items: center; 
    justify-content: center;  
    top: 0;
    left: 0; 
    object-fit: cover;
} 
/* .home img {
    height: 100%; 
    width: 100vw;
} */