a { 
    font-size: 20px;
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit; 
    padding: 20px 0px; 
    margin: 0%;
}
a:hover {
    color: #313af1;
    border-bottom:3px #646cff solid;
}

.navbar { 
    height:70px; 
    width: 100%; 
    padding: 10px; 
    display: flex; 
    align-items: center;  
    justify-content: space-between; 
    width: 100vw;
    z-index: 100; 
    position: fixed; 
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; 
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    background-color: aliceblue; 
}  

.header {
    padding: 10px; 
} 

.header h1 {
    color: #646cff;
}

.navbarComp {
    height: fit-content;
    width: fit-content;
    display: flex; 
    column-gap: 40px; 
    padding: 35px;
} 

.appointment {
    padding: 30px;
} 
.appointment button {
    font-size: 20px;
    padding: 10px 25px; 
    border: 0px; 
    border-radius: 30px;
    color: white;
    background-color: #646cff;
    margin: 0%;
}